body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.post-list {
    height: auto;
    width: 50%;
    list-style: none;
    padding: 0;
}
.post-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

.comment-list {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

.comment-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}